$pale-dark-blue: #2f4466;
$dark-blue: #0431b4;
$blue: #00f;
$grey-blue: #9babc6;
$light-blue: #0080ff;
$cyan: #04b4ae;
$green: #008000;
$yellow-green: #aeb404;
$yellow: #ffbf00;
$dark-yellow: #ffa700;
$orange: #ff8000;
$dark-red: #a52525;
$red: #f00;
$dark-grey: #434546;
$grey: #808080;
$light-grey: #d3d3d3;
$black: #000;
$white: #fff;
$cream: #f9f8eb;
$white-red: #d62d20;
$white-blue: #0057e7;
$white-green: #008744;
$facebook-blue: #3b5998;
$twitter-blue: #55acee;
