<div class="container recent-observations">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Recent Observations</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 hidden-xs hidden-sm">
                            <span class="graphTitles">High Wind Gust & Direction (km/h)</span><br><br>
                            <div class="table-responsive">
                                <table class="wind-24hr" *ngIf="graphData">
                                    <tr>
                                        <td class="small center" *ngFor="let direction of graphData?.windGustDirText">{{ direction }}</td>
                                    </tr>
                                    <tr>
                                        <td class="wind-direction center" *ngFor="let point of graphData?.windGustDir"><i class="wi wi-wind from-{{ point }}-deg"></i></td>

                                    </tr>
                                    <tr>
                                        <td class="small center" *ngFor="let speed of graphData?.windGust">{{ speed }}</td>
                                    </tr>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row" *ngIf="graphData">
                        <div class="col-md-12">
                            <temperature-24hr [data]="graphData"></temperature-24hr>
                        </div>
                    </div>
                    <div class="row" *ngIf="graphData">
                        <div class="col-md-12">
                            <rain-baro-24hr [data]="graphData"></rain-baro-24hr>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
