<div class="panel panel-default">
    <div class="panel-heading">Barometric Pressure</div>
    <div class="panel-body data-panel-pressure">

        <div class="row">
            <div class="col-xs-8 very-large">
                <span highlighter="weatherDataService.getRealtimeData()?.barometer.value">{{ weatherDataService.getRealtimeData()?.barometer.value }} <span class="units-big" [innerHTML]="weatherDataService.getRealtimeData()?.barometer.unit">hPa</span></span>
            </div>
            <div class="col-xs-4 grey spacing-top-large">
                <span highlighter="weatherDataService.getRealtimeData()?.barometerTrendData.value"><span class="glyphicon" trend="{{ weatherDataService.getRealtimeData()?.barometerTrendData.value }}"></span> {{ weatherDataService.getRealtimeData()?.barometerTrendData.value }} <span [innerHTML]="weatherDataService.getRealtimeData()?.barometerTrendData.unit"></span></span>
            </div>
        </div>
    </div>
</div>
