<div class="panel panel-default">
    <div class="panel-heading">Rain</div>
    <div class="panel-body data-panel-rain">

        <div class="row">
            <div class="col-xs-4">
                <img id="outlook" class="img-responsive" [src]="getWeaterImg()" title="{{weatherDataService.getRealtimeData()?.ZambrettiForcastLabel}}" />
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-12 very-large center">
                        <span [highlighter]="weatherDataService.getRealtimeData()?.rainSumDay.value">
                          <span [innerHTML]="weatherDataService.getRealtimeData()?.rainSumDay | unitConverter:weatherDataService.getIsConverted():'units-big'"></span>
                        </span>
                    </div>
                    <div class="col-xs-12 grey right">
                        <span [highlighter]="weatherDataService.getRealtimeData()?.rainRate.value">
                          <span [innerHTML]="weatherDataService.getRealtimeData()?.rainRate.value === '0.0' ? 'Last: ' + weatherDataService.getRealtimeData()?.dateoflastrainalways : 'Rate: ' + (weatherDataService.getRealtimeData()?.rainRate | unitConverter:weatherDataService.getIsConverted())"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacing-top-medium">
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">Days</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 large bold">
                        <span [highlighter]="weatherDataService.getRealtimeData()?.dayswithrainyear">
                        {{ weatherDataService.getRealtimeData()?.dayswithrainyear }}
                      </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 center">
                <div class="row">
                    <div class="col-xs-12">Month</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 large bold">
                        <span [highlighter]="weatherDataService.getRealtimeData()?.rainSumMonth.value">
                        <span [innerHTML]="weatherDataService.getRealtimeData()?.rainSumMonth | unitConverter:weatherDataService.getIsConverted():'units-medium'"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 right">
                <div class="row">
                    <div class="col-xs-12">Year</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 large bold">
                        <span [highlighter]="weatherDataService.getRealtimeData()?.rainSum.value">
                        <span [innerHTML]="weatherDataService.getRealtimeData()?.rainSum | unitConverter:weatherDataService.getIsConverted():'units-medium'"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacing-top-medium">
            <div class="col-xs-12">Live Rainfall</div>
            <div class="col-xs-12">
                <live-rainfall-graph [data]='data'></live-rainfall-graph>
            </div>
        </div>
    </div>
</div>
