<!-- dashboard.html handles the layout of the dashboard panes -->
<div class="container dashboard">
    <div *ngIf="settings">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body ajaxTimmer">
                        <div class="col-xs-3 col-md-2">
                            <div class="btn-group btn-group-xs" role="group">
                                <button *ngFor="let unit of settings.units" (click)="convertUnits(unit)" type="button" [disabled]="unit === selectedUnit" class="btn btn-default">
                            {{ unit }}
                          </button>
                            </div>

                        </div>
                        <div class="col-xs-3 col-md-2">
                            <span class="label label-success" *ngIf="!isOffline">Online</span>
                            <span class="label label-danger" *ngIf="isOffline">Offline</span>
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <span>Updated: <span [highlighter]="weatherDataService.getRealtimeData()?.time">{{ weatherDataService.getRealtimeData()?.time }}</span> <span class=" ng-hide">({{ secondsAgo }} sec ago)</span></span>
                        </div>

                        <div class="col-md-3 col-xs-12 center social">
                            <div *ngIf="!isPaused">
                                <social-share></social-share>
                            </div>
                            <div class="btn-group btn-group-xs" role="group" *ngIf="isPaused">
                                <button type="button" class="btn btn-default" (click)="startTimers()">Updates Stopped. Click to Restart</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <temperature [data]='graphData'></temperature>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <wind [data]='graphData'></wind>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <rain [data]='graphData'></rain>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <barometer></barometer>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
