.forecast {
  .sk-circle .sk-child:before {
    background-color: $black;
  }

  .text {
    display: inline-block;
    float: none;
  }

  .high {
    color: $high-temp;
  }

  .low {
    color: $low-temp;
  }

  .day {
    display: block;
    width: 100%;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}
