.navigation {
  .navbar-brand,
  .navbar-header {
    background: $brand-background-color;
    color: $brand-text-color;
  }

  .social {
    .facebook > a:focus,
    .facebook > a:hover {
      color: $facebook-blue;
    }

    .twitter > a:focus,
    .twitter > a:hover {
      color: $twitter-blue;
    }
  }

}
