<div data-ads></div>
<div class="container webcam">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Webcam, Looking South</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 center">
                            <figure>
                                <img class="image img-responsive img-rounded" [src]="selectedImage?.path">
                                <figcaption>
                                    Images are taken every 5 minutes during daylight hours only.<br>
                                    Click thumbnail images to enlarge.
                                </figcaption>

                            </figure>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-xs-offset-2 col-md-offset-2 col-xs-8  col-md-8 center">
                        <p>{{formatTime(selectedImage?.time)}}</p>
                        <input
                          type="range"
                          name="image-slider"
                          [(ngModel)]="sliderModel.value"
                          min="{{sliderModel.min}}"
                          max="{{sliderModel.max}}"
                          (ngModelChange)="changeImage(sliderModel.value)"
                        >
                      </div>
                    </div>


                    </div>



            </div>
        </div>
    </div>
</div>
