<div data-ads></div>
<div class="container webcam">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Webcam, Looking South</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 center">
                            <figure>
                                <img class="image img-responsive img-rounded" [src]="selectedImage">
                                <figcaption>
                                    Images are taken every 5 minutes during daylight hours only.<br>
                                    Click thumbnail images to enlarge.
                                </figcaption>

                            </figure>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" col-xs-6 col-sm-4 col-md-2 date" *ngFor="let image of webcamImages | async | paginate: { itemsPerPage: imagesPerPage, currentPage: page }">

                                <span class="thumbnail" [class.active]="isSelected(image.name)">
                                    <img  (click)="onSelect(image.name)" class="img-thumbnail" [src]="getUrl(image.name)">

                                    <p>{{ formatTime(image.time)}}</p>


                                </span>
                            </div>
                        </div>
                        <div class="row">
                          <div class="center">
                            <pagination-controls #p (pageChange)="page = $event">
                              <ul class="pagination pagination-lg">
                                <li class="pagination-previous" [class.disabled]="p.isFirstPage()" *ngIf="p.directionLinks">
                                    <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </a>
                                </li>

                                <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                                    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                        <span>{{ page.label }}</span>
                                    </a>
                                        <span  *ngIf="p.getCurrent() === page.value">{{ page.label }}</span>
                                </li>

                                <li class="pagination-next" [class.disabled]="p.isLastPage()" *ngIf="p.directionLinks">
                                    <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
                                </li>
                            </ul>
                            </pagination-controls>
                          </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
