<div data-ads></div>
<div class="container webcam">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Webcam, Looking South</div>
                <div class="panel-body">
                  <div class="row spacing-top-medium">
                      <div class="col-md-12 center">
                        <span *ngFor="let day of daysAgo">
                          <a class="btn btn-lg btn-default spacing-top-small"
                              [class.disabled]="isDisabled(day)"
                              [class.active]="isSelected(day)"
                              (click)="selectDay(day)">
                            {{daysAgoName(day)}}
                          </a>
                        </span>
                      </div>
                  </div>
                    <div class="row spacing-top-large">
                        <div class="col-md-12 center">
                            <figure>
                                <img class="image img-responsive img-rounded" [src]="selectedImage?.path">
                                <figcaption class="grey spacing-top-medium">
                                    Images are taken every 5 minutes during daylight hours only.<br>
                                    Click a day above and move the slider below to change images.
                                </figcaption>

                            </figure>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-xs-offset-2 col-md-offset-2 col-xs-8  col-md-8 center">
                        <p>{{formatTime(selectedImage?.time)}}</p>
                        <input
                          type="range"
                          name="image-slider"
                          [(ngModel)]="sliderModel.value"
                          min="{{sliderModel.min}}"
                          max="{{sliderModel.max}}"
                          (ngModelChange)="changeImage(sliderModel.value)"
                        >
                      </div>
                    </div>



                    </div>



            </div>
        </div>
    </div>
</div>
